ALTER TABLE <%= @prefix %>.oban_jobs
    DROP CONSTRAINT queue_length,
    DROP CONSTRAINT worker_length;

DROP INDEX IF EXISTS <%= @prefix %>.oban_jobs_scheduled_at_index;
CREATE INDEX IF NOT EXISTS oban_jobs_scheduled_at_index ON <%= @prefix %>.oban_jobs (scheduled_at);

DROP FUNCTION IF EXISTS <%= @prefix %>.oban_wrap_id(value bigint);
